.container {
  display: flex;
  gap: 11px;
  align-items: center;
}

.root {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: var(--color-dark-700);
  border: 2px solid var(--color-light-900);
  border-radius: 2px;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:active,
  &:focus-visible {
    background-color: var(--color-dark-100);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: transparent;
    border-color: var(--color-dark-100);
  }

  &[data-state='checked']:disabled {
    color: var(--color-dark-100);
    background-color: var(--color-light-900);
  }
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  &:hover {
    box-shadow: 0 0 0 9px var(--color-dark-500);
  }

  &:active,
  &:focus-visible {
    box-shadow: 0 0 0 9px var(--color-dark-100);
  }

  &.disabled {
    background-color: transparent;
    box-shadow: none;
  }
}

.label {
  cursor: pointer;

  &.disabledLabel {
    cursor: initial;
    color: var(--color-dark-100);
  }
}

.indicator {
  width: 18px;
  height: 18px;
}
