th {
  cursor: auto;
}

.cover {
  width: 118px;
  height: 48px;
  object-fit: cover;
  border-radius: 1px;
}

.buttonsWrapper {
  display: flex;
  gap: 10px;
}

.descIcon {
  transform: rotate(180deg);
}

.sortable {
  cursor: pointer;
}
