.card {
  max-width: 420px;
  padding: 54px 33px 27px 39px;
}

.title {
  margin-bottom: 27px;
  text-align: center;
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
}

.instructions {
  font-size: var(--font-size-s);
  color: var(--color-light-900);
  text-align: center;
  opacity: 0.5;
}

.link {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  margin-bottom: 33px;
  padding: 6px 28px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
  text-decoration: none;

  background-color: var(--color-accent-500);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
}
