.container {
  display: inline-block;
  min-width: 420px;
}

.header {
  margin-bottom: 27px;
}

.avatarSection,
.personalDataWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarSection {
  margin-bottom: 12px;

  p {
    margin: 0 0 27px;
  }
}

.personalDataWrapper p {
  margin: 0;
}

.personalDataWrapper p:last-child {
  margin-bottom: 13px;
}

.personalDataWrapper button {
  margin-top: 13px;
}

.avatar {
  width: 100%;
  max-width: 96px;
  height: auto;
  max-height: 96px;
}

.formWrapper {
  padding: 33px 36px;
}

.form {
  width: 348px;

  & input {
    margin-bottom: 36px;
  }

  & label {
    color: var(--color-dark-100);
  }
}
