table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.tableWrapper {
  border: 1px solid var(--color-dark-500);
}

.tableHead {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-light-100);
  text-align: left;

  background-color: var(--color-dark-500);
}

.tableCell {
  padding: 6px 24px;
  font-size: 14px;
  border-bottom: 1px solid var(--color-dark-500);
}

.tableCell span {
  align-items: center;
  margin-left: 4px;
}

.tableBody .tableRow:last-child .tableCell {
  border-bottom: none;
}

.tableRow {
  cursor: pointer;
}


.tableRow .tableBodyCell:nth-child(1) {
  display: table-cell;
  vertical-align: top;
}

.descIcon {
  transform: rotate(180deg);
}

/* .tableBodyCell {
  display: flex;
  flex-direction: column;
} */
