@import '../../styles/breakpoints';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 187px;
}

.noCardImg {
  max-width: 300px;
}

.mainBtnLink {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 6px 28px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
  text-decoration: none;

  background-color: var(--color-accent-500);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:focus {
    background-color: var(--color-accent-500);
  }

  &:disabled {
    cursor: initial;
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.text {
  margin: 20px 0;
}