.card {
  max-width: 420px;
  padding: 33px 36px 60px;
}

.title {
  margin-bottom: 50px;
  text-align: center;
}

.instructions {
  margin: 19px 0 41px;
  font-size: var(--font-size-s);
  opacity: 0.5;
}
