@mixin button {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 6px 28px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  border: none;
  border-radius: 4px;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &.fullWidth {
    width: 100%;
  }
}

.primary {
  @include button;

  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:active {
    background-color: var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:focus {
    background-color: var(--color-accent-500);
  }

  &:disabled {
    cursor: initial;
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  $shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

  @include button;

  background-color: var(--color-dark-300);
  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

  &:active {
    background-color: var(--color-dark-500);
    box-shadow: $shadow;
  }

  &:hover {
    background-color: var(--color-dark-100);
    box-shadow: $shadow;
  }

  &:focus {
    background-color: var(--color-dark-300);
    box-shadow: $shadow;
  }

  &:disabled {
    cursor: initial;
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
    box-shadow: $shadow;
  }
}
