.fileInputWrapper {
  cursor: pointer;
  position: relative;

  /*   translate: 2s ease-in; */
  margin-bottom: 36px;

  label {
    color: var(--color-light-100);
  }
}

.form {
  input {
    box-sizing: border-box;
    width: 484px;
    color: var(--color-light-100);

    &:focus {
      color: var(--color-light-100);
    }
  }

  button: {
    box-sizing: border-box;
  }

  & label:first-child {
    color: var(--color-dark-100);
  }

  & button[role='checkbox'] {
    background: transparent;
  }

  & button[data-state='checked'] {
    border-color: transparent;
  }
}

.fileInputBtn {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 6px 28px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);

  background-color: var(--color-dark-300);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:hover {
    background-color: var(--color-dark-100);
    box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
  }
}

.subitnBtnWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.inputLabel {
  color: var(--color-dark-100);
}

input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 0;
  height: 0;

  opacity: 0;
}

.coverWrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 484px;
  height: 119px;
  margin: 12px 0 24px;

  img,
  .cover {
    cursor: auto;

    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 119px;
  }

  .cover {
    position: absolute;
    transform: translate(0%) scale(1);
    transition: 1s ease-out;

    /*   &.zoom {
      cursor: pointer;

      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2.5);

      margin: -50px 0 0;

      transition: 1s;
    } */

    &:hover {
      cursor: pointer;
    }

    &:active {
      cursor: pointer;
      z-index: 10;
      transform: translate(0%) scale(3);
      transition: 1s ease-out;
    }
  }
}
