.content {
  width: 100%;
  padding: 30px 100px 0;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.components {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  align-items: center;
  justify-content: space-between;

  margin: 10px 0 16px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 24px;
}

.select {
  margin-left: 10px;
}
