.label,
.input {
  box-sizing: border-box;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-dark-300);
}

.input {
  background-color: transparent;
  border: 1px solid var(--color-dark-300);
}

.input:focus + .label {
  color: var(--color-light-100);
}

.input:focus {
  border-color: var(--color-light-100);
}
