.root {
  gap: 10px;
  padding: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.indicator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    width: 9px;
    height: 9px;

    background-color: var(--color-accent-500);
    border-radius: 50%;
  }

  &[data-disabled]::after {
    background-color: var(--color-accent-900);
  }
}

.error {
  color: var(--color-danger-300);
}

.item {
  cursor: pointer;

  position: relative;

  width: 15px;
  height: 15px;
  margin-right: 7.5px;

  background-color: transparent;
  border: 3px solid var(--color-accent-500);
  border-radius: 50%;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40px;
    height: 40px;

    background-color: transparent;
    border-radius: 50%;

    transition: background-color 0.2s linear;
  }

  &:focus-visible {
    outline: none;
  }

  &:hover::before {
    background-color: var(--color-dark-500);
  }

  &:active::before {
    background-color: var(--color-accent-500);
  }

  &:focus-visible::before {
    background-color: var(--color-dark-700);
  }

  &[data-disabled] {
    cursor: default;
    border-color: var(--color-accent-900);
  }

  &[data-disabled]:hover::before {
    background-color: transparent;
  }
}

.label {
  padding-left: 15px;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
}
