.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 1280px;
  min-height: 100%;
  margin: 93px auto 35px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linkBack {
  text-decoration: none;
}

.title {
  display: flex;
  gap: 9px;
  align-items: center;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchInput {
  display: block;
  margin-bottom: 24px;
}

.pagination {
  margin-top: 24px;
}

.deckImage {
  width: 170px;
  margin-bottom: 25px;
}
