@import '../../styles/breakpoints';

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 1036px;
  min-height: 100%;
  margin: 93px auto 35px;
  padding: 0 15px;

  input {
    box-sizing: border-box;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linkBack {
  display: flex;
  gap: 6px;
  align-items: center;
  text-decoration: none;
}

.title {
  display: flex;
  gap: 9px;
  align-items: center;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchInput {
  display: block;
  margin-bottom: 24px;
}

.pagination {
  display: flex;
  gap: 25px;
  align-items: center;
  align-self: flex-start;

  margin: 24px 0;
}

.deckImage {
  overflow: hidden;

  max-width: 170px;
  max-height: 107px;
  margin-bottom: 25px;

  object-fit: cover;
}
