.descIcon {
  transform: rotate(180deg);
}

.icon {
  cursor: pointer;
}

.pack {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.name {
  cursor: pointer;

  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
}

.cover {
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;

  width: 118px;
  height: 48px;

  object-fit: cover;
  border-radius: 1px;
}
.icons {
  display: flex;
  gap: 1px;
  align-items: center;
}
