@import '../../../styles/breakpoints';

.descIcon {
  transform: rotate(180deg);
}

.icon {
  cursor: pointer;
}

.pack {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.name {
  cursor: pointer;

  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
}

.cover {
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;

  width: 118px;
  height: 48px;

  object-fit: cover;
  border-radius: 1px;

  /* stylelint-disable-next-line order/order */
  @include respond-to('tablet') {
    width: 90px;
    height: 46px;
  }

  @include respond-to('mobile') {
    width: 60px;
    height: 40px;
  }
}

.icons {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: end;
}

.sortable {
  cursor: pointer;
}

.decksTableWrapper {
  /* stylelint-disable-next-line order/order */
  @include respond-to('tablet') {
    tr > th:last-child,
    tr > td:last-child {
      width: 80px;
    }
  }

  @include respond-to('mobile') {
    font-size: 12px;

    tr > th:last-child,
    tr > td:last-child {
      width: 50px;
    }
  }
}
