.tabsList {
  max-width: 100%;
}

.tabsTrigger {
  padding: 6px 25px;

  font-size: 16px;
  line-height: 24px;

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
}

.tabsTrigger:hover {
  color: var(--color-light-900);
  background-color: var(--color-dark-300);
  border: var(--color-light-900);
}

.tabsTrigger[data-state='active'] {
  background-color: var(--color-accent-500);
  border: 1px solid var(--color-accent-500);
}

.tabsTrigger[disabled],
.tabsTrigger[disabled]:hover {
  pointer-events: none;
  cursor: default;

  color: var(--color-dark-300);

  background-color: var(--color-dark-700);
  border-color: var(--color-dark-300);
}

.tabsList[data-orientation='vertical'] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 110px;
}

.tabsList[data-orientation='vertical'] button {
  min-width: 110px;
}
